
tr.highlight > td {
    background-color: cyan
}

@media print {
    body * {
        visibility: hidden;
    }

    #printarea, #printarea * {
        visibility: visible;
    }

    #printarea {
        position: absolute;
        left: 0;
        top: 0;
    }
}
